doctype html

html.no-js(lang="en-US")
  head
    title= meta.title

    script.
      localStorage["ENVIRONMENT"] = "#{config.ENVIRONMENT}"
      localStorage["APP_BASE"]    = "#{config.APP_BASE}"
      localStorage["API_BASE"]    = "#{config.API_BASE}"

    script(src="//use.typekit.net/pxi7oym.js")
    script.
      try{Typekit.load();}catch(e){}
    script(src="#{pathHelper.asset('application.js')}")

    link(rel="stylesheet" type="text/css" href="#{pathHelper.asset('application.css')}")
    link(rel="shortcut icon" href="#{pathHelper.asset('foundation/glyph-logo-small.png')}")
    link(rel="canonical" href="https://#{config.APP_BASE}")

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    meta(name="description" content="#{meta.description}")
    meta(name="keywords" content="#{meta.keywords.join(', ')}")

    meta(name="og:title" content="#{meta.title}")
    meta(name="og:site_name" content="#{meta.title}")
    meta(name="og:url" content="https://#{config.APP_BASE}")

  body(spellcheck=true)
    noscript
      | Please enable Javascript.
      a href="http://enable-javascript.com" http://enable-javascript.com
