doctype html

html.no-js(lang="en-US")
  head
    title= meta.title

    script(src="//use.typekit.net/pxi7oym.js")

    script.
      try{Typekit.load();}catch(e){};

      document.documentElement.classList.remove("no-js");

      localStorage["ENVIRONMENT"] = "#{config.ENVIRONMENT}";
      localStorage["APP_BASE"]    = "#{config.APP_BASE}";
      localStorage["API_BASE"]    = "#{config.API_BASE}";

    script(src="#{asset('application.js')}")

    link(rel="stylesheet" type="text/css" href="#{asset('application.css')}")
    link(rel="shortcut icon" href="#{asset('foundation/glyph-logo-small.png')}")
    link(rel="canonical" href="https://#{config.APP_BASE}")

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    meta(name="description" content="#{meta.description}")
    meta(name="keywords" content="#{meta.keywords.join(', ')}")

    meta(name="og:title" content="#{meta.title}")
    meta(name="og:site_name" content="#{meta.title}")
    meta(name="og:url" content="https://#{config.APP_BASE}")

  body(spellcheck=true)
    noscript.no-js-info
      h1 Alternative Fiction

      p
        i.glyphicon.glyphicon-warning-sign

      p JavaScript is required to view this website.

      p
        a(href="http://enable-javascript.com" target="_blank")
          | How to enable JavaScript.
          sup.glyphicon.glyphicon-new-window
